blinky-lite-dma/flows.json
[
    {
        "id": "5f562f66.a301e",
        "type": "tab",
        "label": "dma",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "21ff842d.62f36c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "z": "",
        "name": "blinky-lite-15",
        "broker": "blinky-lite-15.local",
        "port": "1883",
        "clientid": "dma",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ea743ee6.d8b55",
        "type": "serial in",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "15edd0a2.6dd4bf"
            ]
        ]
    },
    {
        "id": "15edd0a2.6dd4bf",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Arduino to JSON",
        "func": "var end = msg.payload.indexOf(\"\\n\");\nvar inputString = msg.payload.substring(0,end);\nvar inputTopic = inputString.substring(inputString.indexOf(\"<topic>\") + 7, inputString.indexOf(\"</topic>\"));\nvar inputPayload = inputString.substring(inputString.indexOf(\"<payload>\") + 9, inputString.indexOf(\"</payload>\"));\nreturn {'topic':inputTopic, 'payload':inputPayload};",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "c38af984.72f3a8"
            ]
        ]
    },
    {
        "id": "93049b70.2dc5c8",
        "type": "mqtt out",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "79250bf3.365cc4",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "c38af984.72f3a8",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Add test/dma/ to topic",
        "func": "msg.topic = 'test/dma/' + msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "93049b70.2dc5c8"
            ]
        ]
    },
    {
        "id": "3f988ea4.7ee392",
        "type": "serial out",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "28bf5baa.b0eb34",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Json to Arduino",
        "func": "var sendString = '<topic>' + msg.topic + '</topic><payload>' + msg.payload.toString() + '</payload>';\nreturn {'topic':'topic','payload':sendString};",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "3f988ea4.7ee392"
            ]
        ]
    },
    {
        "id": "8cda9011.eab33",
        "type": "mqtt in",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "test/ui/#",
        "qos": "0",
        "broker": "79250bf3.365cc4",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "cae60544.489e58"
            ]
        ]
    },
    {
        "id": "cae60544.489e58",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Strip test/ui/ from topic",
        "func": "msg.topic = msg.topic.substring(msg.topic.indexOf('test/ui/') + 9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "28bf5baa.b0eb34"
            ]
        ]
    },
    {
        "id": "3ca7501.94de1b",
        "type": "debug",
        "z": "5f562f66.a301e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "3080a59e.06803a",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getLedState",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "28bf5baa.b0eb34"
            ]
        ]
    },
    {
        "id": "f1cdc810.9d44c8",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getLedValue",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "28bf5baa.b0eb34"
            ]
        ]
    },
    {
        "id": "76ca5992.544688",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getLedPeriod",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.4",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "28bf5baa.b0eb34"
            ]
        ]
    }
]