blinky-lite-dma/flows.json
[
    {
        "id": "5f562f66.a301e",
        "type": "tab",
        "label": "dma",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "21ff842d.62f36c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "!",
        "bin": "false",
        "out": "char",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "z": "",
        "name": "teensy-pi0-platform-broker",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "dma",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "77ac95b9.d96e8c",
        "type": "serial out",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "fe167ec8.cd0c6",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getLoopTime",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "cf17dffd.b2b37"
            ]
        ]
    },
    {
        "id": "ae4832e3.8167f",
        "type": "serial in",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "db5238ac.522718"
            ]
        ]
    },
    {
        "id": "1cfa5d7b.6c46a3",
        "type": "debug",
        "z": "5f562f66.a301e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf17dffd.b2b37",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Convert To Json to Arduino Input",
        "func": "var sendString = '<topic>' + msg.topic + '</topic><payload>' + msg.payload.toString() + '</payload>';\nreturn {'topic':'topic','payload':sendString};",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 120,
        "wires": [
            [
                "77ac95b9.d96e8c"
            ]
        ]
    },
    {
        "id": "db5238ac.522718",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Convert Arduino Ouput to JSON",
        "func": "var end = msg.payload.indexOf(\"!\");\nvar inputString = msg.payload.substring(0,end);\nvar inputTopic = inputString.substring(inputString.indexOf(\"<topic>\") + 7, inputString.indexOf(\"</topic>\"));\nvar inputPayload = inputString.substring(inputString.indexOf(\"<payload>\") + 9, inputString.indexOf(\"</payload>\"));\nreturn {'topic':inputTopic, 'payload':inputPayload};",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "1cfa5d7b.6c46a3",
                "b466e887.d9fb58"
            ]
        ]
    },
    {
        "id": "b466e887.d9fb58",
        "type": "mqtt out",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "loopTime",
        "qos": "0",
        "retain": "false",
        "broker": "79250bf3.365cc4",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "9c868d53.8a0e",
        "type": "mqtt in",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "getLoopTime",
        "qos": "0",
        "broker": "79250bf3.365cc4",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "cf17dffd.b2b37"
            ]
        ]
    }
]