flows.json
[
    {
        "id": "5f562f66.a301e",
        "type": "tab",
        "label": "device-message-adapter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Blinky-Lite-Tutorial",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "21ff842d.62f36c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "28",
        "bin": "bin",
        "out": "count",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "79250bf3.365cc4",
        "type": "mqtt-broker",
        "z": "",
        "name": "blinky-lite-controlbox",
        "broker": "$(MQTTSERVERIP)",
        "port": "1883",
        "clientid": "$(MQTTCLIENTID)",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ea743ee6.d8b55",
        "type": "serial in",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "491cada6.3fe584"
            ]
        ]
    },
    {
        "id": "93049b70.2dc5c8",
        "type": "mqtt out",
        "z": "5f562f66.a301e",
        "name": "blinky-lite-controlbox",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "79250bf3.365cc4",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f988ea4.7ee392",
        "type": "serial out",
        "z": "5f562f66.a301e",
        "name": "Teensy",
        "serial": "21ff842d.62f36c",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "8cda9011.eab33",
        "type": "mqtt in",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "archiver/blinky-lite/demo/dma/+/gizmo/+/setting",
        "qos": "0",
        "broker": "79250bf3.365cc4",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "c0f4b91f.7babb8"
            ]
        ]
    },
    {
        "id": "67d8952c.30d64c",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "",
        "payload": "ARCHIVERTOPIC",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "8c56d93.5ceb628"
            ]
        ]
    },
    {
        "id": "8c56d93.5ceb628",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Set Archiver Topic",
        "func": "flow.set('archiverTopic',msg.payload)\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "491cada6.3fe584",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Parse Reading Byte Array",
        "func": "var ib;\nvar archiverTopic = flow.get('archiverTopic');\n\nvar photoDetValueView       = new DataView(new ArrayBuffer(4));\nvar ultraDistanceView       = new DataView(new ArrayBuffer(4));\nvar ultraAlarmDistanceView  = new DataView(new ArrayBuffer(4));\nvar tempAvgView             = new DataView(new ArrayBuffer(4));\nvar ledStateView            = new DataView(new ArrayBuffer(4));\nvar ledValueView            = new DataView(new ArrayBuffer(4));\nvar ledPeriodView           = new DataView(new ArrayBuffer(4));\n\nfor (ib = 0; ib < 4; ++ib)      photoDetValueView.setUint8(ib, msg.payload[0 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib)      ultraDistanceView.setUint8(ib, msg.payload[1 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib) ultraAlarmDistanceView.setUint8(ib, msg.payload[2 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib)            tempAvgView.setUint8(ib, msg.payload[3 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib)           ledStateView.setUint8(ib, msg.payload[4 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib)           ledValueView.setUint8(ib, msg.payload[5 * 4 + 3 - ib]);\nfor (ib = 0; ib < 4; ++ib)          ledPeriodView.setUint8(ib, msg.payload[6 * 4 + 3 - ib]);\n\nvar photoDetValueMsg = \n{\n    topic: flow.get('archiverTopic') + 'photoDetValue/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:photoDetValueView.getInt32(0)\n    }\n};\nvar ultraDistanceMsg = \n{\n    topic: flow.get('archiverTopic') + 'ultraDistance/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:ultraDistanceView.getInt32(0)\n    }\n};\nvar ultraAlarmDistanceMsg = \n{\n    topic: flow.get('archiverTopic') + 'ultraAlarmDistance/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:ultraAlarmDistanceView.getInt32(0)\n    }\n};\nvar tempAvgMsg = \n{\n    topic: flow.get('archiverTopic') + 'tempAvg/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:Math.round(100.0 * tempAvgView.getFloat32(0)) / 100.0\n    }\n};\nvar ledStateMsg = \n{\n    topic: flow.get('archiverTopic') + 'ledState/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:ledStateView.getInt32(0)\n    }\n};\nvar ledValueMsg = \n{\n    topic: flow.get('archiverTopic') + 'ledValue/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:ledValueView.getInt32(0)\n    }\n};\nvar ledPeriodMsg = \n{\n    topic: flow.get('archiverTopic') + 'ledPeriod/reading',\n    payload : \n    {   \n        type :\"scalar\",\n        value:ledPeriodView.getInt32(0)\n    }\n};\nreturn [\n    photoDetValueMsg, \n    ultraDistanceMsg, \n    ultraAlarmDistanceMsg, \n    tempAvgMsg, \n    ledStateMsg, \n    ledValueMsg, \n    ledPeriodMsg];\n",
        "outputs": 7,
        "noerr": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ],
            [
                "93049b70.2dc5c8"
            ]
        ]
    },
    {
        "id": "e709045e.04e398",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "createSettings",
        "func": "var echoSettings = 0;\nvar ledState = 0;\nvar ledValue = 0;\nvar ledPeriod = 0;\nvar ultraAlarmDistance = 0;\n\nvar echoSettingsMask = 0;\nvar ledStateMask = 0;\nvar ledValueMask = 0;\nvar ledPeriodMask = 0;\nvar ultraAlarmDistanceMask = 0;\n\nswitch(msg.topic) \n{\n  case 'echoSettings':\n    echoSettings = msg.payload;\n    echoSettingsMask = 1;\n    break;\n  case 'ledState':\n    ledState = msg.payload;\n    ledStateMask = 1;\n    break;\n  case 'ledValue':\n    ledValue = msg.payload;\n    ledValueMask = 1;\n    break;\n  case 'ledPeriod':\n    ledPeriod = msg.payload;\n    ledPeriodMask = 1;\n    break;\n  case 'ultraAlarmDistance':\n    ultraAlarmDistance = msg.payload;\n    ultraAlarmDistanceMask = 1;\n    break;\n  default:\n}\n\nvar buffer = new ArrayBuffer(40);\nvar settingsView = new DataView(buffer);\nsettingsView.setInt32(0,echoSettingsMask, true);\nsettingsView.setInt32(4,ledStateMask, true);\nsettingsView.setInt32(8,ledValueMask, true);\nsettingsView.setInt32(12,ledPeriodMask, true);\nsettingsView.setInt32(16,ultraAlarmDistanceMask, true);\n\nsettingsView.setInt32(20,echoSettings, true);\nsettingsView.setInt32(24,ledState, true);\nsettingsView.setInt32(28,ledValue, true);\nsettingsView.setInt32(32,ledPeriod, true);\nsettingsView.setInt32(36,ultraAlarmDistance, true);\n\nreturn {topic:'settings',payload:Buffer.from(buffer)};",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "3f988ea4.7ee392"
            ]
        ]
    },
    {
        "id": "364a5e00.a610c2",
        "type": "inject",
        "z": "5f562f66.a301e",
        "name": "",
        "topic": "echoSettings",
        "payload": "1",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "e709045e.04e398"
            ]
        ]
    },
    {
        "id": "d2a72c5d.dfbc5",
        "type": "function",
        "z": "5f562f66.a301e",
        "name": "Parse Setting",
        "func": "var archiverTopic = flow.get('archiverTopic').split('/');\nvar inputTopic =  msg.topic.split('/');\nfor (var ii = 0; ii < 6; ++ii)\n{\n    if (archiverTopic[ii] != inputTopic[ii]) return null;\n}\nvar deviceAttr = inputTopic[6]\nreturn {topic: deviceAttr, payload:msg.payload.value};",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 40,
        "wires": [
            [
                "e709045e.04e398"
            ]
        ]
    },
    {
        "id": "c0f4b91f.7babb8",
        "type": "json",
        "z": "5f562f66.a301e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "d2a72c5d.dfbc5"
            ]
        ]
    }
]